
@{
    ViewBag.Title = "ChangeStartValue";
}

<div class="bodytext primary">Enter new odometer value for <strong>@ViewBag.Item</strong></div>

<div>
    <div class="primary">
        @* NOTE preciesly '[09]*' will give a nice 0..9 keyboard on iphone *@
        <input id="XuOdometerValue" inputmode="numeric" type="number" value="123456" min="10000" pattern="[0-9]*" />
    </div>

    <div class="primary">
        @* NOTE preciesly '[09]*' will give a nice 0..9 keyboard on iphone *@
        <input id="XuOdometerValue" inputmode="numeric" value="123456" min="10000" pattern="[0-9]*" />
    </div>
    

    <div class="primary">
        <a href="../Start/@ViewBag.Item" class="button">OK</a>
    </div>

</div>

